.header {
    overflow: hidden;
    box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.34);
    position: relative;

    a {
        color: $primary-dark;
    }

    .form {
        position: absolute;
        right: 10px;
        top: 0;
        width: 92px;
        height: 94px;
        background: $white;
        padding-top: 15px;
        transition: all 0.5s $bezier;

        &__field {
            padding: 0;
        }

        input {
            background: none;
            border: none;
            font-size: $base - 2;
            padding: 0 0 0 34px;
            width: 90px;
            margin-left: -29px;
            position: relative;
            z-index: 1;
        }

        button {
            width: 22px;
            height: 60px;
            position: relative;

            svg {
                height: 17px;
                width: 17px;
                opacity: 0.3;

                .a {
                    fill: $black-light;
                }
            }
        }

        .close {
            position: absolute;
            top: 16px;
            right: 0;
            opacity: 0;
            z-index: -1;
            transition: all 0.5s $bezier;

            a {
                width: 24px;
                height: 24px;

                svg {
                    opacity: 0.3;

                    .b {
                        stroke: $black-light;
                    }

                    .c {
                        fill: $black-light;
                    }
                }
            }
        }
    }

    .search {
        &--active {
            width: 632px;

            .close,
            button {
                opacity: 1;
                z-index: 2;
            }
        }
    }
}

.header-utilities{
    background:$primary-alt;
    height:55px;
    text-align:right;

    &__nav{
        display:inline-block;
        vertical-align:top;
        @include clearlist();
        margin-left:10px;

        li{
            padding:0 0 0 10px;
        }
    }

    &__link{
        margin:0;

        &:after{
            content:"";
            display:inline-block;
            height:24px;
            width:0;
            border-left:1px solid $primary-dark;
            margin-left:16px;
            position:relative;
            top:6px;
        }

        &:last-child{
            &:after{
                content:none;
            }
        }

        a{
            margin-top:11px;
            display:inline-block;
        }

        &--icon{
            &:after{
                content:none;
            }

            a{
                margin-top:13px;

                svg{
                    width:24px;
                    height:24px;

                    .a{
                        @include svg($primary-dark);
                    }
                }
            }
        }
    }
}

.header-main {
    height: 85px;

    &__nav {
        @include clearlist();
        text-align: center;
    }

    &__link {
        margin: 0;
        position: relative;

        a {
            display: block;
            padding: 28px 47px;
        }

        &--padright {
            margin-right: 115px;
        }

        &--padleft {
            margin-left: 115px;
        }

        &:hover,
        &--active {
            a {
                text-decoration: none;
            }

            :after {
                content: "";
                width: 40px;
                height: 0;
                border-bottom: 3px solid $primary;
                position: absolute;
                bottom: 24px;
                left: 50%;
                margin-left: -20px;
            }
        }
    }
}

.logo{
    border-radius:50%;
    width:170px;
    height:170px;
    background:$white;
    display:block;
    padding:17px 33px 0;
    box-sizing:border-box;
    position: absolute;
    top: -58px;
    left: 50%;
    margin-left: -85px;
}   