@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div class="content-scroller">
    <div class="inner">
        <div class="slick-content-scroller">
            <div class="content-scroller__item">
                <div class="content-scroller__text">
                    <h2>Our ethos and mission</h2>
                    <p>London Nutrition Clinic is a health and wellbeing company whose primary focus is to educate and assist their clients in reaching their optimum health.</p>
                    <span class="button"><a href="">Get in touch</a></span>
                </div>
            </div>
            <div class="content-scroller__item">
                <div class="content-scroller__text">
                    <h2>Our ethos and mission</h2>
                    <p>London Nutrition Clinic is a health and wellbeing company whose primary focus is to educate and assist their clients in reaching their optimum health.</p>
                    <span class="button"><a href="">Get in touch</a></span>
                </div>
            </div>
        </div>
    </div>
</div>