@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ 
    var items = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("scrollerContent");
}
<div class="content-scroller">
    <div class="inner">
        <div class="slick-content-scroller">
            @foreach (var item in items)
            {
                <div class="content-scroller__item">
                    <div class="content-scroller__text">
                        <h2>@item.GetProperty("title").Value</h2>
                        @item.GetProperty("content").Value
                    </div>
                </div>
            }
        </div>
    </div>
</div>