.banner {
    position: relative;
    color: $white;
    text-align: center;
    background-size: cover;
    background-color: $primary;
    background-attachment: fixed;
    height: 50vh;
    padding: 40px 0;
    @include vertical;

    @include media-query(phone, max) {
        height: auto;
    }

    &:after {
        content: "";
        @include fill();
        background: rgba($black,0.5);
        background: -moz-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.9) 100%);
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.9) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.9) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#e6000000',GradientType=0 );
    }

    .inner {
        max-width: 864px;
    }

    p {
        font-size: $base + 7;
        line-height: $base + 20;

        @include media-query(phone, max) {
            font-size: $base + 2;
            line-height: $base + 12;
        }
    }

    &__icon {
        width: 120px;
        height: 120px;
        float: left;

        @include media-query(phone, max) {
            float:none;
        }

        .a {
            fill: $white;
        }

        .b {
            fill: none;
        }
    }

    &__content {
        &.align-left {
            text-align: left;
            padding-left: 176px;

            @include media-query(phone, max) {
                text-align: center;
                padding-left: 0;
            }
        }
    }
}
