<div class="banner bg-load vertical" data-src="/images/image-banner-1.png">
    <div class="inner vertical-block">
        <h1>London Clinic of Nutrition</h1>
        <p>We are specialists in Nutritional Solutions, Auto Immune System, Lyme Disease, Digestive Disorders, Unexplained Illness and Stress Related Issues plus much more!</p>
        <span class="button"><a href="">View treatments</a></span>
    </div>
</div>
