@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div class="header">
    <div class="header-utilities">
        <div class="inner">
            <ul class="utilities-links">
                <li class="utilities-links__link"><a href="">link</a></li>
            </ul>
            <ul class="utilities-icons">
                <li class="utilities-icons__link"><a href=""></a></li>
            </ul>
        </div>
    </div>
    <div class="header-main">
        <div class="inner">
            <ul class="nav nav--left">
                <li><a href="">link</a></li>
                <li><a href="">link</a></li>
            </ul>
            <ul class="nav nav--right">
                <li><a href="">link</a></li>
                <li><a href="">link</a></li>
            </ul>
            <div class="logo">
                <span class="logo__image svg-load" data-src="/images/logo.svg"></span>
            </div>
        </div>
    </div>
</div>