.footer {
    input {
        background: $white;
        width: 370px;
        margin-right: 10px;
        border-radius: 29px;
    }

    button {
        svg {
            .b {
                fill: $primary;
                stroke: $primary;
            }
        }

        &:hover {
            background: $primary-dark;
        }
    }
}

.footer-main {
    background: $primary-alt;
    height: 293px;
    padding: 100px 0;
    box-sizing: border-box;
    color: $primary-dark;

    @include media-query(phone, max) {
        padding: 40px 0;
        height: auto;
    }

    &__social {
        width: 50%;
        float: left;

        @include media-query(tablet, max) {
            width: 100%;
            float: none;
        }
    }

    &__register {
        width: 445px;
        float: right;

        .title {
            padding-left: 26px;
        }

        .form {
            &--complete {
                fieldset {
                    display: block;
                }
            }
        }
    }
}

.footer-utilities {
    background: $primary-dark;
    color: rgba($primary,0.68);
    padding: 30px 0;
    @include group();

    @include media-query(tablet, max) {
        font-size: $base - 2;
    }

    @include media-query(phone, max) {
        text-align: center;
    }

    p {
        float: left;
        margin: 0;

        @include media-query(phone, max) {
            float: none;
            margin-bottom: 20px;
        }
    }

    &__nav {
        @include clearlist();
        float: right;

        @include media-query(phone, max) {
            float: none;
        }
    }

    &__link {
        margin: 0 0 0 80px;
        position: relative;

        @include media-query(phone, max) {
            margin: 0 20px;
        }

        a {
            color: rgba($primary,0.68);
            display:block;

            &:hover {
                color: $white;
                text-decoration: none;
            }
        }

        &:hover,
        &--active {
            a {
                text-decoration: none;
            }

            :after {
                content: "";
                width: 40px;
                height: 0;
                border-bottom: 3px solid $primary;
                position: absolute;
                bottom: -6px;
                left: 50%;
                margin-left: -20px;
            }
        }
    }
}