.highlight-bar {
    margin: 40px 0;
    background: url(/images/bg-highlight-bar.svg) no-repeat center $secondary;
    background-size: cover;
    color: $white;
    text-align: center;
    padding: 65px 0 50px;
    box-sizing: border-box;

    @include media-query(phone, max) {
        padding: 34px 0;
    }

    p{
        margin:0;
    }

    b {
        font-size: $base + 18px;
        margin: 0 30px 20px 0;
        display: inline-block;
        letter-spacing: 2px;

        @include media-query(phone, max) {
            font-size: $base + 2;
            margin: 0 0 20px;
            letter-spacing: 1px;
            display:block;
        }
    }

    &__button {
        position: relative;
        top: -8px;
    }
}
