@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div class="highlight-bar">
    <div class="inner">
        <p>
            <b>FREE 20 MINUTE CONSULTATION</b>
            <span class="button button--highlight highlight-bar__button"><a href="">Enquire now</a></span>
        </p>
    </div>
</div>
