.highlight-bar{
    margin:40px 0;
    height:169px;
    background:url(/images/bg-highlight-bar.svg) no-repeat center $secondary;
    color:$white;
    text-align:center;
    padding:65px 0;
    box-sizing:border-box;

    @include media-query(phone, max){
        padding:34px 0;
    }

    b{
        font-size:$base + 18px;
        margin-right:30px;

        @include media-query(phone, max){
            font-size:$base + 2;
            margin:0 0 20px;
            display:block;
        }
    }

    &__button{
        position:relative;
        top:-8px;
    }
}