h1, h2, h3, h4, h5, h6, p, img, li, blockquote, table {
    margin-bottom: 40px;
}

h1, h2{
    font-size:$base + 37;

    @include media-query(phone, max){
        font-size:$base + 12;
    }
}

h3{
    font-size:$base + 15;
    color:$primary;
    text-transform:uppercase;
}

p, li{
    line-height:$base + 12;
}

.buttons a,
.button a,
a .button,
a.button{
    line-height:56px;
    display:inline-block;
    background:$secondary;
    color:$white;
    font-size:$base - 2;
    padding:0 30px;
    min-width:120px;
    position:relative;
    border-radius:28px;
    box-sizing: border-box;
    text-transform:uppercase;
}

.buttons a:hover,
.button a:hover,
a:hover .button,
a.button:hover,
.boxes__box:hover .button a,
.buttons .active a{
    text-decoration:none;
    background-color:$black-light;
}

.buttons--alt a,
.button--alt a,
a .button--alt,
a.button--alt{
    background:$white;
    color:$primary;
}

.buttons--alt a:hover,
.button--alt a:hover,
a:hover .button--alt,
a.button--alt:hover,
.boxes__box:hover .button--alt a,
.buttons--alt .active a{
    background-color:$primary-dark;
    color:$white;
}

.buttons--highlight a,
.button--highlight a,
a .button--highlight,
a.button--highlight{
    background:$white;
    color:$secondary;
}

.buttons--highlight a:hover,
.button--highlight a:hover,
a:hover .button--highlight,
a.button--highlight:hover,
.boxes__box:hover .button--highlight a,
.buttons--highlight .active a{
    background-color:$secondary;
    color:$white;
}

.buttons--secondary a,
.button--secondary a,
a .button--secondary,
a.button--secondary{
    background:$primary;
}

.buttons--secondary a:hover,
.button--secondary a:hover,
a:hover .button--secondary,
a.button--secondary:hover,
.boxes__box:hover .button--secondary a,
.buttons--secondary .active a{
    background-color:$primary-alt;
}

.buttons{
    @include clearlist();

    li{
        margin:0 50px 0 0;
    }
}

input{
    line-height:59px;
    display:inline-block;
    background:$white;
    color:$black;
    font-size:$base;
    padding:0;
    position:relative;
    border-radius:10px;
    text-align:center;
    width:300px;
}

.title{
    display:block;
    font-size:$base + 2;
    margin-bottom:20px;
}

.timestamp{
    font-size:$base - 2;
    display:block;
    margin:60px 0;

    &__icon{
        width:16px;
        height:20.31px;
        margin-right:10px;
        position:relative;
        top:5px;

        .a{
            fill:$black-light;
        }
    }
}

.subtitle-item{
    margin:-10px 62px 40px 0;
    display:inline-block;

    svg{
        width:25px;
        max-height:25px;
        position:relative;
        top:3px;
        margin-right:4px;

        .a{
            fill:$primary;
        }

        .b{
            fill:$white;
        }
    }

    b{
        margin-right:4px;
    }
}

.round-button{
    width:59px;
    height:59px;
    line-height: 74px;
    border-radius:50%;
    background:$white;
    box-shadow:rgba(#383862,0.13) 0 10px 20px;

    svg{
        width:13.97px;
        height:24px;
        margin-left:2px;

        .a,.b,.c{
            @include svg($black-light);
        }
    }

    &:hover{
        background:$primary-alt;

        svg{
            .a,.b,.c{
                @include svg($white);
            }
        }
    }

    &--left{
        svg{
            transform-origin: 5px 12px;
            transform: rotateZ(180deg);
        }
    }
}