h1, h2, h3, h4, h5, h6, p, img, li, blockquote, table {
    margin-bottom: 40px;
}

h1, h2{
    font-size:$base + 37;

    @include media-query(phone, max){
        font-size:$base + 12;
    }
}

h3{
    font-size:$base + 4;
}

p, li{
    line-height:$base + 12;
}

.buttons a,
.button a,
a .button,
a.button{
    line-height:56px;
    display:inline-block;
    background:$secondary;
    color:$white;
    font-size:$base - 2;
    padding:0 30px;
    min-width:120px;
    position:relative;
    border-radius:28px;
    box-sizing: border-box;
    text-transform:uppercase;
}

.buttons a:hover,
.button a:hover,
a:hover .button,
a.button:hover,
.boxes__box:hover .button a{
    text-decoration:none;
    background-color:$black-light;
}

.buttons--alt a,
.button--alt a,
a .button--alt,
a.button--alt{
    background:$white;
    color:$secondary;
}

.buttons--alt a:hover,
.button--alt a:hover,
a:hover .button--alt,
a.button--alt:hover,
.boxes__box:hover .button--alt a{
    background-color:$secondary;
    color:$white;
}

.buttons--secondary a,
.button--secondary a,
a .button--secondary,
a.button--secondary{
    background:$primary;
}

.buttons--secondary a:hover,
.button--secondary a:hover,
a:hover .button--secondary,
a.button--secondary:hover,
.boxes__box:hover .button--secondary a{
    background-color:$primary-alt;
}

input{
    line-height:59px;
    display:inline-block;
    background:$white;
    color:$black;
    font-size:$base;
    padding:0;
    position:relative;
    border-radius:10px;
    text-align:center;
    width:300px;
}

.title{
    display:block;
    font-size:$base + 2;
    margin-bottom:20px;
}

.social{
    @include clearlist();

    &__link{
        margin:0 46px 0 0;

        a{
            svg{
                width:47px;
                height:47px;

                .a{
                    fill:$white;
                }
            }

            &:hover{
                svg{
                    .a{
                        fill:$primary-dark;
                    }
                }
            }
        }
    }
}

.boxes{
    text-align:center;
    padding:0 8%;

    &__box{
        display:inline-block;
        width:33.3%;
        position:relative;
        transition:0.2s all $bezier;
        background:url(/Images/bg-box.svg) no-repeat center;

        &:hover{
            transform:scale(1.1);
        }
    }

    &__content{
        width: 60%;
        height: 502px;
        margin: 50px 20% 120px;
        background-size:cover;
        border-radius:10px;

        h3{
            border-bottom:1px solid $black;
            padding-bottom:19px;
            margin-bottom:26px;
        }

        p{
            height: 171px;
            overflow: hidden;
            margin-bottom: 28px;
            position:relative;

            &:after{
                content:"";
                width:100%;
                height:14px;
                display:block;
                position:absolute;
                bottom:0;
                left:0;
                background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
                background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
                background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
            }
        }
    }

    &__link{
        @include fill();
        z-index:1;
    }

    &__icon{
        width:132px;
        height:132px;
        margin:0 auto 68px;
        border-radius:50%;
        background:$primary;
        position:relative;
        top:32px;
        z-index:1;
        box-sizing: border-box;
        padding: 18px;

        svg{
            width:100%;
            height:100%;

            .a{
                @include svg($primary);
            }

            .b{
                @include svg($white);
            }
        }
    }
}