h1, h2, h4, h5, h6, p, img, li, blockquote, table {
    margin-bottom: 40px;
}

h1, h2{
    font-size:$base + 37;

    @include media-query(phone, max){
        font-size:$base + 12;
    }
}

h3 {
    font-size: $base + 15;
    color: $primary;
    text-transform: uppercase;
    padding-top: 20px;
    margin-bottom: 30px;

    @include media-query(phone, max) {
        font-size: $base + 5;
    }
}

p, li{
    line-height:$base + 12;
}

.intro {
    font-size: $base + 7;

    @include media-query(phone, max) {
        font-size: $base + 2;
    }
}

.buttons a,
.button a,
a .button,
a.button,
button.button {
    line-height: 56px;
    display: inline-block;
    background: $secondary;
    color: $white;
    font-size: $base - 2;
    padding: 0 30px;
    min-width: 182px;
    position: relative;
    border-radius: 28px;
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: center;

    @include media-query(phone, max) {
        line-height: 48px;
        font-size: $base - 4;
        min-width: 156px;
    }
}

.buttons a:hover,
.button a:hover,
a:hover .button,
a.button:hover,
.boxes__box:hover .button a,
.buttons .active a,
button.button:hover {
    text-decoration: none;
    background-color: $black-light;
}

.buttons--alt a,
.button--alt a,
a .button--alt,
a.button--alt{
    background:$white;
    color:$primary;
}

.buttons--alt a:hover,
.button--alt a:hover,
a:hover .button--alt,
a.button--alt:hover,
.boxes__box:hover .button--alt a,
.buttons--alt .active a{
    background-color:$primary-dark;
    color:$white;
}

.buttons--highlight a,
.button--highlight a,
a .button--highlight,
a.button--highlight{
    background:$white;
    color:$secondary;
}

.buttons--highlight a:hover,
.button--highlight a:hover,
a:hover .button--highlight,
a.button--highlight:hover,
.boxes__box:hover .button--highlight a,
.buttons--highlight .active a{
    background-color:$secondary;
    color:$white;
}

.buttons--secondary a,
.button--secondary a,
a .button--secondary,
a.button--secondary{
    background:$primary;
}

.buttons--secondary a:hover,
.button--secondary a:hover,
a:hover .button--secondary,
a.button--secondary:hover,
.boxes__box:hover .button--secondary a,
.buttons--secondary .active a{
    background-color:$primary-alt;
}

.buttons{
    @include clearlist();

    li{
        margin:0 50px 20px 0;
    }
}

.round-button {
    width: 58px;
    height: 58px;
    line-height: 74px;
    border-radius: 50%;
    background: $white;
    box-shadow: rgba(#383862,0.13) 0 10px 20px;

    svg {
        width: 14px;
        height: 24px;
        margin-left: 2px;

        .a, .b, .c {
            @include svg($black-light);
        }
    }

    &:hover {
        background: $primary-alt;

        svg {
            .a, .b, .c {
                @include svg($white);
            }
        }
    }

    &--left {
        svg {
            transform-origin: 5px 12px;
            transform: rotateZ(180deg);
        }
    }

    &--tick {
        svg {
            width: 31px;
            height: 25px;

            .a, .b, .c {
                @include svg($primary);
                stroke-width: 0;
            }
        }
    }
}

.title {
    display: block;
    font-size: $base + 2;
    margin-bottom: 20px;

    @include media-query(phone, max) {
        font-size: $base;
    }
}

.timestamp {
    font-size: $base - 2;
    display: block;
    margin: 60px 0;

    @include media-query(phone, max) {
        margin-top:0;
    }

    &__icon {
        width: 16px;
        height: 20.31px;
        margin-right: 10px;
        position: relative;
        top: 5px;

        .a {
            fill: $black-light;
        }
    }
}

.subtitle-item{
    margin:-10px 62px 40px 0;
    display:inline-block;

    svg{
        width:25px;
        max-height:25px;
        position:relative;
        top:3px;
        margin-right:4px;

        .a{
            fill:$primary;
        }

        .b{
            fill:$white;
        }
    }

    b{
        margin-right:4px;
    }
}

.icon {
    svg {
        .a {
            @include svg($primary);
        }

        .b {
            @include svg($white);
        }
    }
}

div.star-list,
.star {
    svg {
        width: 16px;
        height: 15.37px;

        .a {
            fill: #f7a219;
        }
    }
}

.close {
    a {
        width: 35px;
        height: 35px;
        display:block;

        svg {
            width:100%;
            height:100%;

            .b {
                stroke: $white;
                stroke-width: 1.5px;
            }

            .c {
                fill: $primary;
            }

            .e {
                fill: $white;
            }
        }
    }
}