.section{
    padding:66px 0;

    &--grey{
        background:$grey;
    }

    &__header{
        margin-bottom:70px;
    }

    &__title{
        text-transform:uppercase;
        font-weight:bold;
        border-bottom:8px solid $primary;
        padding-bottom:10px;
        display:inline-block;
        min-width: 250px;
    }

    &__footer{
        padding:20px 12% 50px;

        p{
            font-size: $base + 9;
            line-height: $base + 19;
        }
    }

    &__button{
        float:right;
        margin-left:140px;

        &--center{
            float:none;
            margin:0 0 40px;
            text-align:center;
            display:block;
        }
    }

    &__indicator{
        width: 100px;
        margin-left: -50px;
        text-align: center;
        margin: 0 auto;

        span{
            display:inline-block;
        }

        .arrow{
            margin:8px 0 12px;

            svg{
                transform-origin: 5px 12px;
                transform: rotateZ(90deg);
            }

            &--inverted{
                svg{
                    transform: rotateZ(270deg);
                }
            }
        }
    }

    &__content{
        max-width:850px;
        margin:0 auto;
    }
}