/*#region Fonts*/

$primaryfont: 'Avenir LT W01_45 Light1475496', Arial, sans-serif;
$italicfont: 'Avenir LT W01_45 Light_1475502';
$mediumfont: 'Avenir LT W01_65 Medium1475532';
$bookfont: 'Avenir LT W01_45 Book1475508';
$boldfont: 'Avenir LT W01_45 Heavy1475544';
$base: 18px;
$spacing: 34px;

/*#endregion*/

/*#region Colours */

$black: #000;
$black-alt: #2F2F2F;
$black-light: #46474F;
$white: #FFF;
$grey: #F2F2F2;

$primary: #14CC6E;
$primary-alt: #12A064;
$primary-dark: #214C36;
$secondary: #F7A219;
$secondary-alt: #9e0000;
$table: #FFF;
$table-alt: #c8c8cd;
$alert: #FF3D5D;

$shadow:rgba(#C3C3D3,0.44);

$bezier: cubic-bezier(.21,.96,.59,.97);

/*#endregion*/

/*#region Media Queries*/

$breakpoints: (
    small: 470px,
    phone: 768px,
    tablet: 1024px
);

/*#endregion*/