.boxes-team{
    @extend .boxes-small;

    .boxes{
        &__image{
            height: 212px;
        }

        &__icon{
            top: 106px;
            margin: 0 auto 120px;
        }

        &__subtitle{
            margin:-68px 0 28px;
        }
    }
}

.team{
    text-align:center;

    &:before{
        content:"";
        @include fill();
        height:508px;
        background:$primary-alt;
    }

    &__column{
        width:27%;
        margin-right:3%;
        display:inline-block;
        text-align:left;

        &--wide{
            width:60%;
            margin:0;
        }
    }

    &__header{
        color:$white;
    }
}