@import "../variables";
@import "../mixins";

.login-overlay {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 10000;
   width: 100%;
   height: 100%;
   padding: 0;
   margin: 0!Important;
   color: $primary;
   background: url(/Images/logo.svg) $white 50% 40px no-repeat !important;
   background-size: 236px !important;
   border-radius: 0;

   .form {
       margin: 160px auto;
       display: block;
       width: 370px;
       text-align: center;
       position:static;

       p span,
       h1{
            display: none;
       }
    }
}

#tree{
   background: url(/Images/logo.svg) $white 50% 98% no-repeat !important;
   background-size: 236px !important;

   .umb-tree{
       background:$white;
   }
}

ul.sections,
.umb-modalcolumn-header,
.umb-editor-header,
.umb-tree li.current>div, .umb-tree div.selected,
.umb-tree li.current>div a, .umb-tree li.current>div i.icon, .umb-tree li.current>div ins {
   background: $primary;
}

.umb-panel-header-name,
.nav-tabs>li>a,
.umb-modalcolumn-header h1{
    color:$white;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
   color: $primary-alt;
}

ul.sections li.current, ul.sections li:hover {
   border-left: 4px $primary-alt solid;
}

.umb-overlay-container .nav-tabs>li>a{
    color:$black;
}