@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div class="cookie-bar">
    <p>By continuing to use this site, you are agreeing to the use of cookies.<br>You can find out more about cookies <a href="/privacy-policy" title="Privacy Policy">here</a> or click the button below to close this notice.</p>
    <span class="button center"><a href="">Continue</a></span>
</div>
