@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var home = Umbraco.TypedContentSingleAtXPath("//homepage");
}
<div class="overlay overlay--phone">
    <span class="close"><a href=""><span class="svg-load" data-src="/images/icon-close.svg"></span></a></span>
    <div class="overlay__content">
        <span class="overlay__icon svg-load" data-src="/images/icon-phone.svg"></span>
        <h2>@home.GetPropertyValue("phoneNumber")</h2>
        <p>Our clinic operates from 9am to 5pm, Monday to Friday. </p>
        <p><span class="button"><a href="tel:@home.GetPropertyValue("phoneNumber")">Call now</a></span> </p>
    </div>
</div>
<div class="overlay overlay--email">
    <span class="close"><a href=""><span class="svg-load" data-src="/images/icon-close.svg"></span></a></span>
    <div class="overlay__content">
        <span class="overlay__icon svg-load" data-src="/images/icon-email.svg"></span>
        <p>Our clinic operates from 9am to 5pm, Monday to Friday. </p>
    </div>
</div>
<div class="overlay overlay--enquire">
    <span class="close"><a href=""><span class="svg-load" data-src="/images/icon-close.svg"></span></a></span>
    <div class="overlay__content">
        <div class="overlay__highlight">
            <h2>Book your FREE 20 minute consultation today</h2>
            <p>Call to book your FREE 20 min consultation or simply fill your details in the form below:</p>
        </div>
        <div class="overlay__links">
            <div class="overlay__links-item">
                <span class="overlay__icon svg-load" data-src="/images/icon-phone.svg"></span>
                <span class="button"><a href="tel:@home.GetPropertyValue("phoneNumber")">@home.GetPropertyValue("phoneNumber")</a></span>
            </div>
            <div class="overlay__links-item">
                <span class="overlay__icon svg-load" data-src="/images/icon-email.svg"></span>
                <span class="button"><a href="mailto:@home.GetPropertyValue("emailAddress")">Request a call</a></span>
            </div>
            <div class="overlay__links-item">
                <span class="overlay__icon svg-load" data-src="/images/icon-book.svg"></span>
                <span class="button"><a href="mailto:@home.GetPropertyValue("emailAddress")">Book now</a></span>
            </div>
        </div>
    </div>
</div>