.content-container {
    position: relative;

    &.overlay-on {
        &:after {
            content: "";
            @include fill();
            background: rgba($black-alt,0.6);
            z-index: 9;
        }
    }
}

.overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
    display: none;
    max-width: 550px;
    width: 100%;
    max-height: 100%;
    overflow: auto;

    h2 {
        font-size: $base + 22;
        border-bottom: 1px solid $black;
        padding-bottom: 19px;
        margin-bottom: 26px;
        display: inline-block;
    }

    p {
        font-size: $base + 7;
        line-height: $spacing + 4;
    }

    &--active {
        display: block;
    }

    &--enquire {
        max-width: 768px;

        .overlay__content {
            padding: 0;
        }
    }

    &__content {
        width: 100%;
        background: $white;
        padding: 50px 50px 0;
        box-sizing: border-box;
        border-radius: 20px;
        text-align: center;
        @include group();
        overflow: hidden;
    }

    &__icon {
        width: 94px;
        height: 94px;
        margin: 0 auto 20px;
        display: block;

        .a {
            fill: $secondary;
        }
    }

    &__highlight {
        background: url(/images/bg-highlight.svg) no-repeat center $secondary;
        background-size: cover;
        padding: 50px 50px 30px;
        box-sizing: border-box;
        color: $white;

        @include media-query(phone, max) {
            width: 100%;
        }

        h2 {
            font-size: $base + 22;
            border: none;
            padding: 0;
            font-family: $boldfont;
        }

        p {
            font-size: $base + 4;
        }

        a {
            color: $white;
        }

        .overlay__icon {
            width: 100px;
            height: 100px;
            padding-top: 50px;

            .a {
                fill: $white;
            }
        }

        p {
            font-size: $base;
            line-height: $spacing - 10;
        }
    }

    &__links {
        margin: 0;
        padding: 50px 25px 0;
        box-sizing: border-box;

        @include media-query(phone, max) {
            width: 100%;
        }
    }

    &__links-item {
        margin:0 25px 50px;
        display:inline-block;

        @include media-query(phone, max) {
            margin-bottom: 10px;
            width: 48%;
        }

        &:before {
            content: "";
            width: 64px;
            border-bottom: 2px solid $white;
            display: block;
            margin: 0 auto;

            @include media-query(phone, max) {
                content: none;
            }
        }

        &:first-child:before {
            content: none;
        }
    }

    .close {
        text-align: right;
        display: block;
        margin-bottom: 20px;

        a {
            display: inline-block;
        }
    }
}