@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Layout.cshtml";
}
@Html.Partial("Banner/Banner", Model.Content)
@Html.Partial("Controls/Controls", Model.Content)
<div class="section__header"></div>
<div class="section">
    <div class="inner">
        <div class="section__content">
            <a name="request"></a>
            <form class="form ajax" data-method="Forms/CallBack">
                <fieldset>
                    <legend>Request a call back by filling in the fields* provided:</legend>
                    <div class="form__field">
                        <span class="form__validation"></span>
                        <input type="text" name="name" placeholder="Full name*" class="required" />
                    </div>
                    <div class="form__field">
                        <span class="form__validation"></span>
                        <input type="email" name="mdr" placeholder="Email*" class="required email" />
                        <input type="email" name="email" placeholder="Email*" class="hidden email" />
                    </div>
                    <div class="form__field">
                        <input type="tel" name="telephone" placeholder="Mobile number" class="telephone" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')"/>
                    </div>
                    <div class="form__field">
                        <textarea name="message" placeholder="Start typing your message..."></textarea>
                    </div>
                    <div class="form__field form__field--center">
                        <button type="submit" class="button">Submit</button>
                    </div>
                </fieldset>
                <div class="form__complete">
                    <p>Thank you lorem ipsum lorem ipsum</p>
                </div>
            </form>
            @Model.Content.GetPropertyValue("bodyContent")
        </div>
        <div class="section__social">
            @Html.Partial("Social/Social", Model.Content)
        </div>
    </div>
</div>
<div class="section section--map">
    <div class="inner">
        <a name="findus"></a>
        <p><span class="button"><a href="https://www.google.co.uk/maps/place/London+Clinic+of+Nutrition/&#64;51.5211107,-0.1493158,15z/data=!4m2!3m1!1s0x0:0xc96175558b49eba9?sa=X&ved=0ahUKEwja847Dj4XZAhVlKsAKHYYyDZIQ_BIIfTAK" target="_blank">Open in maps</a></span></p>
        <p>10A Upper Wimpole Street, London, W1G 6LL</p>
    </div>
</div>