@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Layout.cshtml";
}
<div class="section">
    <div class="inner">
        <div class="section__header"></div>
        <div class="section__content">
            @Model.Content.GetPropertyValue("bodyContent")
        </div>
    </div>
</div>