@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Layout.cshtml";
}

<div class="section team">
    <div class="controls">
        <div class="inner">
            <div class="controls__left">
                <a href="@Model.Content.Up().Url"><span class="round-button arrow round-button--left"><span class="svg-load" data-src="/images/icon-arrow.svg"></span></span> Back</a>
            </div>
        </div>
    </div>
    <div class="inner">
        @Html.Partial("Team/Person", Model.Content)
        <div class="section__indicator">
            <button type="button" class="round-button arrow arrow--inverted"><span class="svg-load" data-src="/images/icon-arrow.svg"></span></button>
            <span>back to top</span>
        </div>
    </div>
</div>