@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Layout.cshtml";
}
@Html.Partial("Banner/Banner", Model.Content)
<div class="section">
    <div class="inner">
        @Html.Partial("Services/Services", Model.Content)
    </div>
</div>
@Html.Partial("HighlightBar/HighlightBar", Model.Content)