.boxes-blogs{
    .boxes{
        &__box{
            text-align:left;
        }

        &__content{
            .button{
                text-align:center;
                display:block;
            }
        }
    }
}