.banner{
    position:relative;
    color:$white;
    text-align:center;
    height:80vh;
    @include vertical;

    &:after{
        content:"";
        @include fill();
        background:rgba($black,0.5);
    }

    .inner{
        max-width:864px;
    }

    p{
        font-size:$base + 7;
        line-height:$base + 20;
    }
}