.blocks{
    width:102%;
    margin-left:-1%;

    @include media-query(phone, max){
        width:100%;
        margin-left:0;
    }

    &__title{
        margin-top:30px;
    }

    &__item{
        height:270px;
        margin:0 1% 18px;
        display:inline-block;
        width:31.33%;
        background-size:cover;
        background-position:50%;
        text-align:center;
        position:relative;

        @include media-query(phone, max){
            margin:0 0 18px;
            width:100%;
        }

        &--hidden{
            display:none;
        }

        &__block-button{
            a{
                top:50%;
                margin-top:-30px;
            }
        }

        &--hover-overlay{
            .button{
                opacity:0;

                a:after{
                    width: 31px;
                    background: url(/Images/icon-zoom.svg) 50% 50% no-repeat;
                }
            }

            &:hover, &:focus{
                .button{
                    opacity:1;
                }
            }
        }

        &:hover, &:focus{
            .blocks__item__block-button a{
                background:$primary-alt;
            }
        }

        &__block-link{
            @include fill();

            .link-arrow{
                position:absolute;
                bottom:19px;
                left:50%;
                margin-left:-24px;
            }

            &:hover, &:focus{
                .link-arrow{
                    background:rgba($secondary-alt,0.8);
                }
            }
        }

        .box-overlay{
            @include fill();
            display:inline-block;
            vertical-align:middle;
            top:50%;
            left:50%;
            margin:-64px 0 0 -100px;
            width: 200px;
            height: 128px;
            background:rgba($white,0.9);

            &--large{
                margin: -85px 0 0 -131px;
                width: 262px;
                height: 170px;
            }

            &__content, img.box-overlay__content{
                vertical-align:middle;
                display:inline-block;
                max-width:80%;    
                max-height: 80%;
                margin:0;
                font-size:$base + 11;
            }

            &:after{
                content:"";
                vertical-align:middle;
                display:inline-block;
                height:100%;
                width:1px;
            }
        }
    }

    &--gallery{
        &__item{
            height:270px;
            margin:0 14px 18px;
            display:inline-block;
            width:31.33%;

            @include media-query(phone, max){
                width:100%;
                margin:0 5px 18px;
            }
        }

        .slick-list{
            overflow:visible;
        }

        .slick-arrow{
            width: 46px;
            height: 46px;
            top: 50%;
            margin-top:-23px;

            @include media-query(phone, max){
                display:none !important;
            }
        }

        .slick-prev{
            left:28px;
        }

        .slick-next{
            right:28px;
        }
    }

    &--large{
        &__item{
            height:398px;
            transition:all 0.2s ease-out;

            @include media-query(phone, max){
                height:298px;
            }

            .box-overlay{
                &__content, img.box-overlay__content{
                    color:$black;
                    font-size:$base - 2;

                    b{
                        @include font(secondary);
                        font-size:$base + 8;
                        display:block;
                        text-transform:none;
                        margin-bottom:10px;
                    }
                }
            }
        }
    }

    &--wide{
        &__item{
            width:48%;

            @include media-query(phone, max){
                width:100%;
            }
        }
    }

    &--media{
        display:none;

        &.show{
            display:block;
        }

        h2{
            margin: 0 1% 18px;
        }
    }
}

.logo-list{
    overflow: hidden;
    width: 100%;

    &__item{
        width:21%;
        display:inline-block;
        text-align:center;
        vertical-align:middle;
        padding:40px 2%;

        img{
            max-width:70%;
            max-height:110px;
        }

        @include media-query(phone, max){
            width:29.33%;
            padding:0 2% 18px;
        }
    }
}