.filter{
    @include group();

    &__input{
        margin-bottom:32px;
        text-align: center;
    }

    &__controls{
        margin-bottom:32px;
        text-align:left;

        &--left{
            float:left;
        }

        &--right{
            float:right;
        }

        &--center{
            text-align:center;
        }

        &--inline{
            display:inline-block;
            margin:30px 0 0;
            
                @include media-query(phone, max){
                    margin:0;
                }
        }

        &__nav{
            display:inline-block;

            &__item{
                @include clearlist();
                vertical-align:middle;
                line-height:42px;
                margin:0 0 0 15px;

                &:first-child{
                    margin-left:0;
                }

                &--icon{
                    a{
                        width:42px;
                        height:42px;
                        display:block;

                        svg{
                            @include svg($grey);
                        }
                    }
                }

                .icon-map{
                    height:42px;
                    vertical-align: middle;
                    margin-left:5px;

                    .cls-fill{
                        @include svg($grey);
                        stroke:$grey;
                        stroke-width:0.5px;
                    }
                }

                .icon-chevron{
                    width:15px;
                    vertical-align: middle;
                    margin-left:15px;

                    .cls-fill{
                        @include svg($primary);
                    }
                }
            }
        }
    }

    &__content{
        clear: both;
    }

    .form{
        .field{
            margin:24px 1% 24px;
            float:right;
            
            @include media-query(phone, max){
                margin:12px 0 12px;
            }
            
            &--large-select,
            &--small-select{
                max-width:472px;
                float:none;
            
                @include media-query(phone, max){
                    max-width:none;
                }
            }

            &--large-select{
                max-width:none;
                width:100%;
            }

            input,
            .select{
                padding:16px 52px 16px 27px;
                border-width:1px;
            }

            .select{

            }

            button{
                position:absolute;
                right: 12px;
                top: -2px;
                background:none;
            
                @include media-query(phone, max){
                    top:7px;
                }

                svg{
                    @include svg($primary);
                }
            }
        }
    }

    &--new{
        .filter__controls__nav{
            vertical-align: top;
            margin:5px 0 0 20px;
        }
        .form .field--large-select,
        .form .field--small-select{
            vertical-align:top;
            min-width:280px;
            margin:0;
        }
    }
}

.map{
    clear:both;
    margin-bottom:30px;
    background: $primary;
    background: -moz-linear-gradient(-45deg, rgba($primary,1) 0%, rgba(36,41,100,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba($primary,1) 0%,rgba(36,41,100,1) 100%);
    background: linear-gradient(135deg, rgba($primary,1) 0%,rgba(36,41,100,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$primary', endColorstr='#242964',GradientType=1 );
    display:none;
    position:relative;

    &--always-on{
        display:block !important;
    }

    h2{
        color:$white;
        position:absolute;
        display:inline-block;
        top:40px;
        left:50%;
        transform:translateX(-50%);
        border:none;
        z-index:1;
    }

    &__container{
        max-width:1396px;
        max-height:536px;
        min-height:200px;
        width:100%;
        height:100%;
        margin:0 auto;
        position:relative;
        overflow:hidden;

        .map-area{
            span{
                position:absolute;
                font-size:$base + 20;
                color:$white;
                top:50%;
                left:50%;
                cursor:pointer;
                display:none;

                @include media-query(phone, max){
                    font-size:$base - 2;
                }

                &.active,
                &.on{
                    display:block;
                }

                &:before, &:after{
                    content:"";
                    width:36px;
                    height:40px;
                    display:block;
                    position:absolute;

                    @include media-query(phone, max){
                        width: 24px;
                        height: 28px;
                    }
                }

                &:before{
                    top: -12px;
                    left: -32px;
                    border-left:3px solid $white;
                    border-top:3px solid $white;

                    @include media-query(phone, max){
                        left: -18px;
                    }
                }

                &:after{
                    bottom: -12px;
                    right: -32px;
                    border-right:3px solid $white;
                    border-bottom:3px solid $white;

                    @include media-query(phone, max){
                        right:-16px;
                    }
                }
            }

            &.a1{
                img{
                    width: 58.2%;
                    margin: -2.7% 0 0 22.35%;
                }

                span{
                    margin:-10% 0 0 8%;
                }
            }

            &.a2{
                img{
                    width: 38.3%;
                    margin: 3.29% 0 0 32%;
                }

                span{
                    margin:4% 0 0 25%;
                }
            }

            &.a3{
                img{
                    width: 54.3%;
                    margin: 0 0 0 -26.49%;
                }

                span{
                    margin:-2% 0 0 -32%;
                }
            }

            img{
                opacity:0.3;
                position:absolute;
                top:50%;
                left:50%;
                transform:translateX(-50%) translateY(-50%);
                cursor:pointer;
            }
            
            &.active,
            &.on,
            &:hover{
                img{
                    opacity:0.7;

                    + span{
                        display:block;
                    }
                }
            }
        }

        .a0{
            max-width:100%;
            max-height:100%;
            opacity:0;

            img{
                position:static;
                transform:none;
            }
        }
    }
}