.header{
    overflow:hidden;
}

.header-utilities{
    background:$primary-alt;
    height:55px;
}

.header-main{
    height:85px;
}

.logo{
    border-radius:50%;
    width:170px;
    height:170px;
    background:$white;
    display:block;
    padding:17px 33px 0;
    box-sizing:border-box;
    margin:0 auto;
    position:relative;
    top:-58px;
}

.utilities-links{
    @include clearlist();
}

.utilities-icons{
    @include clearlist();
}