@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@if (Model.Content.DocumentTypeAlias == "contact")
{
    <ul class="social">
        <li class="social__link"><a href="https://twitter.com/lonnutriclinic" target="_blank" title="Share on Twitter"><span class="svg-load" data-src="/images/icon-twitter.svg"></span></a></li>
        <li class="social__link"><a href="https://www.facebook.com/Londonclinicofnutrition" title="Share on Facebook"><span class="svg-load" data-src="/images/icon-facebook.svg"></span></a></li>
        <li class="social__link"><a href="https://www.linkedin.com/in/barnettoliver" target="_blank" title="Share on LinkedIn"><span class="svg-load" data-src="/images/icon-linkedin.svg"></span></a></li>
    </ul>
}
else
{
    <ul class="social">
        <li class="social__link"><a href="https://twitter.com/home?status=@Request.Url.AbsoluteUri" target="_blank" title="Share on Twitter"><span class="svg-load" data-src="/images/icon-twitter.svg"></span></a></li>
        <li class="social__link"><a href="https://www.facebook.com/sharer/sharer.php?u=@Request.Url.AbsoluteUri" title="Share on Facebook"><span class="svg-load" data-src="/images/icon-facebook.svg"></span></a></li>
        <li class="social__link"><a href="https://www.linkedin.com/shareArticle?mini=true&url=@{@Request.Url.AbsoluteUri}&title=&summary=&source=" target="_blank" title="Share on LinkedIn"><span class="svg-load" data-src="/images/icon-linkedin.svg"></span></a></li>
        <li class="social__link"><a href="mailto:?body=@Model.Content.UrlAbsolute()&subject=@Model.Content.Name" title="Share via email"><span class="svg-load" data-src="/images/icon-email.svg"></span></a></li>
    </ul>
}