.social{
    @include clearlist();

    &__link{
        margin:0 46px 0 0;

        a{
            svg{
                width:47px;
                height:47px;

                .a{
                    fill:$white;
                }
            }

            &:hover{
                svg{
                    .a{
                        fill:$primary-dark;
                    }
                }
            }
        }
    }
}