.controls {
    background: $primary;
    padding: 40px 0 20px;
    @include group();

    @include media-query(phone, max) {
        text-align: center;
    }

    &__left {
        float: left;
        margin: 0 160px 20px 0;

        @include media-query(phone, max) {
            margin-right: 40px;
        }

        a {
            line-height: 59px;
            display: block;
            color: $white;
            text-transform: uppercase;
        }

        .arrow {
            float: left;
            margin-right: 22px;
            display: block;
            text-align: center;
        }
    }

    &__center {
        text-align: center;

        @include media-query(phone, max) {
            overflow: auto;
            margin-left: -20px;
            width: calc(100% + 20px);
            padding-left: 20px;
        }

        /*&:before,
        &:after {
            @include media-query(phone, max) {
                content: "";
                position: absolute;
                display: block;
                width: 30px;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 1;
                background: -moz-linear-gradient(to right, rgba($primary,1) 0%, rgba(255,255,255,0) 100%);
                background: -webkit-linear-gradient(to right, rgba($primary,1) 0%, rgba(255,255,255,0) 100%);
                background: linear-gradient(to right, rgba($primary,1) 0%, rgba(255,255,255,0) 100%);
            }
        }

        &:after {
            @include media-query(phone, max) {
                left: auto;
                right: 0;
                background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba($primary,1) 100%);
                background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba($primary,1) 100%);
                background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba($primary,1) 100%);
            }
        }*/
    }

    &__right {
        float: right;

        .social {
            position: relative;
            top: 8px;
        }
    }

    .buttons {
        @include media-query(phone, max) {
            text-align: left;
            width: 5000px;
        }

        li {
            margin: 0 25px 20px;

            @include media-query(phone, max) {
                margin: 0 6px 20px;
            }
        }
    }
}

.large-icon-list {
    @include clearlist();

    &__item {
        width: 24%;
        margin: 0 0 20px;
        vertical-align: top;

        @include media-query(tablet, max) {
            width: 48%;
        }

        a {
            display: block;
            font-weight: bold;
            color: $white;

            svg {
                width: 120px;
                height: 120px;
                margin-bottom: 20px;
                display: inline-block;

                @include media-query(phone, max) {
                    width: 48%;
                    width: 90px;
                    height: 90px;
                }

                .a {
                    fill: $white;
                }
            }

            span {
                display: block;
                font-size: $base - 2;
                overflow-wrap: break-word;
            }
        }
    }
}