.controls {
    background: $primary;
    padding: 40px 0 20px;
    @include group();

    @include media-query(phone, max) {
        text-align: center;
    }

    &__left {
        float: left;
        margin: 0 160px 20px 0;

        @include media-query(phone, max) {
            margin-right:40px;
        }

        a {
            line-height: 59px;
            display: block;
            color: $white;
            text-transform: uppercase;
        }

        .arrow {
            float: left;
            margin-right: 22px;
            display: block;
            text-align: center;
        }
    }

    &__center {
        text-align: center;
    }

    &__right {
        float: right;

        .social {
            position: relative;
            top: 8px;
        }
    }

    .buttons li {
        margin: 0 25px 20px;
    }
}

.large-icon-list {
    @include clearlist();

    &__item {
        width: 24%;
        margin: 0 0 20px;
        vertical-align: top;

        @include media-query(tablet, max) {
            width: 48%;
        }

        a {
            display: block;
            font-weight: bold;
            color: $white;

            svg {
                width: 120px;
                height: 120px;
                margin-bottom: 20px;
                display: inline-block;

                @include media-query(phone, max) {
                    width: 48%;
                    width: 90px;
                    height: 90px;
                }

                .a {
                    fill: $white;
                }
            }

            span {
                display: block;
                font-size: $base - 2;
                overflow-wrap: break-word;
            }
        }
    }
}