.boxes-reviews {
    .boxes {
        &__username{
            display:inline-block;
            margin-bottom:10px;
        }

        &__stars {
            @include clearlist();
            margin-bottom:10px;
        }

        &__star {
            margin:0 8px;

            &--inactive{
                opacity:0.2;
            }
        }
    }
}
