.boxes-recipes{
    .boxes{
        &__box{
            background:url(/Images/bg-box-small.svg) no-repeat center;
        }

        &__content{
            margin-top:82px;
            height: 337px;

            h3{
                border:none;
                font-weight:normal;
                height: 56px;
                overflow: hidden;
            }
        }

        &__icon{
            width:110px;
            height:110px;
            background:$white;
            top:70px;
        }
    }
}